@page
@model Dashboard.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
}



<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">ProjectDashboard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/login">Login</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="main-container container flex-grow-1">
    <main role="main" class="pb-3">

        <div class="form-container">
            <h3 class="form-title">Welcome Back</h3>

            <form method="post">
                @if (!string.IsNullOrEmpty(Model.Message))
                {
                    <div class="alert alert-danger">@Model.Message</div>
                }

                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" required />
                </div>

                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control" type="password" required />
                </div>

                <div class="mb-3 form-check">
                    <input asp-for="RememberMe" class="form-check-input" />
                    <label asp-for="RememberMe" class="form-check-label">Remember me</label>
                </div>

                <button type="submit" class="btn btn-login">
                    Log In
                </button>

                <div class="register-text">
                    Don't have an account? <a asp-page="/Register" class="register-link">Create one</a>
                </div>
            </form>
        </div>
    </main>
</div>

